# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**OBJECTIVES:**
- List popular languages for Data Science
- List libraries for Data Science
- Review of commonly used development enviromnents (IDE)
- Calculation of simple arithmetic expressions

Some of the popular languages thata Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas and Numpy
2. Matplotlib
3. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R Studio |
| Visual Studio |

### Below are a few examples of arithmetic expressions in Phyton

In [3]:
(3*4) + 5 #This is a simple arithmetic expression

17

In [4]:
200/60 #This will convert 200 minutes to hours

3.3333333333333335

## Author:
Rodrigo A.